.twitter
  .image
    // friends_count, statuses_count ,
    = link_to image_tag(twit.twitter.profile_image_url,:class=>'profile_image'),"http://twitter.com/#{twit.twitter.screen_name}"
  .screen_name
    = link_to twit.twitter.screen_name,"http://twitter.com/#{twit.twitter.screen_name}"
  .text
    = twit_filter twit.text
    %span.time
      = twit.created_at.humanize
  .clear
