// = render :partial => "submenu" 

#sidebar

  = render 'twitters/newbies'

  = render "blogs/active_blogs" 



#articles
  - @articles.each do |article|
    .article
      .header
        .title
          = link_to raw(article.title), article.link
        .author
          = user article
        .date
          = distance_of_time_in_words_to_now article.published_at
          назад
      .summary
        = article.truncated


= will_paginate @articles


-# %p= link_to "New Article", new_article_path
