.twit_user
  .image
    // friends_count, statuses_count ,
    = link_to image_tag(twit_user.profile_image_url,:class=>'profile_image'),"http://twitter.com/#{twit_user.screen_name}"
  .screen_name
    = link_to twit_user.screen_name,"http://twitter.com/#{twit_user.screen_name}"
  .info
    друзей:
    = twit_user.friends_count
    , месаг:
    = twit_user.statuses_count
  .clear
