- title "Twit User"

%p
  %strong Screen Name:
  = @twit_user.screen_name
%p
  %strong Profile Image Url:
  = @twit_user.profile_image_url

%p
  = link_to "Edit", edit_twit_user_path(@twit_user)
  |
  = link_to "Destroy", @twit_user, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", twit_users_path
