- title "Twit User"

%p
  %strong Screen Name:
  = @twitter.screen_name
%p
  %strong Profile Image Url:
  = @twitter.profile_image_url

%p
  = link_to "Edit", edit_twitter_path(@twitter)
  |
  = link_to "Destroy", @twitter, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", twitters_path
